<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Raturi</title>
</head>
<body>
  <center>
    <h2>Welcome, project is successfully setup</h2>
    <p>If you find any bug, kindly report it at <a href="#">develop@raturi.in</a></p>
    <p>If you have any improvements please contribute here - <a href="https://github.com/nitinraturi/django-structure">https://github.com/nitinraturi/django-structure</a></p>
  </center>
</body>
</html>
