beautifulsoup4==4.8.2
Django==2.2.8
django-appconf==1.0.3
django-compressor==2.4
django-debug-toolbar==2.1
django-filter==2.2.0
django-htmlmin==0.11.0
django-split-settings==0.3.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.3.0
html5lib==1.0.1
Markdown==3.1.1
PyJWT==1.7.1
python-decouple==3.3
python-memcached==1.59
pytz==2019.3
rcssmin==1.0.6
rjsmin==1.1.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
webencodings==0.5.1
django-hosts==4.0
